# AI:(BATCH-3)-TIMING:9-12AM

# String Functions

In [1]:
name = "Sherjeel Ahmed"
dir (name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
name = "Sherjeel Ahmed"       

#converts the first character of a string to capital (uppercase) letter, if already capital returns the same string

print(name.capitalize())

Sherjeel ahmed

In [8]:
name = "Sherjeel Ahmed"      # lower all character of a string
print(name.casefold())

sherjeel ahmed

In [139]:
name ="Sherjeel Ahmed"     # gives a space of characters defined
print(" original name: \n",name,"\n")
print(" center aligned: \n",name.center(50),"\n")
print(" center aligned with fillchar: \n",name.center(50,"@"),"\n")

 original name:
 Sherjeel Ahmed

 center aligned:
                   Sherjeel Ahmed

 center aligned with fillchar:
 @@@@@@@@@@@@@@@@@@Sherjeel Ahmed@@@@@@@@@@@@@@@@@@

In [141]:
name = "Sherjeel Ahmed"     # gives a space to characters defined and aligns it to the left
print(name.ljust(50,"-"))name = "Sherjeel Ahmed"
print(name.ljust(50,"-"))

Sherjeel Ahmed------------------------------------

In [142]:
name = "Sherjeel Ahmed"   # gives a space to characters defined and aligns it to the right
print(name.rjust(50,"-"))

------------------------------------Sherjeel Ahmed

In [26]:
name = "Sherjeel Ahmed"     # returns the number of occurrences of a sub-strings in the given string 
print(name.count("e"))

4

In [37]:
name = "Sherjeel Ahm√©d"    # encodes the string using specified encoding, if no encoding is specified UTF-8 is used
print(name.encode())

b'Sherjeel Ahm\xc3\xa9d'

In [42]:
name = "Sherjeel Ahmed"    # returns true if a string ends with the specified suffix otherwise returns false
print(name.endswith("d"))
print(name.endswith("e"))

True
False

In [50]:
name = "\tSher\tjeel Ahmed"  # returns a copy where all tab characters  are expanded using space (by default space-8)
print(name.expandtabs(3))

   Sher  jeel Ahmed

In [59]:
name = "Sherjeel Ahmed"   # returns the index of a character else returns -1
print(name.find("j"))
print(name.find("w"))

4
-1

In [68]:
name = "{} Sherjeel Ahmed"  

#used for string formatting,allows multiple substituions & value formatting, concatenating elements through positional arguments

print(name.format("My name is"))

My name is Sherjeel Ahmed

In [66]:
name = {"x":"Sherjeel" , "y":"Ahmed"}  # used to return dictionary key's value
print("My name is {x} {y}".format_map(name))

My name is Sherjeel Ahmed

In [71]:
name = "Sherjeel Ahmed"  # searches for the given element from the start of the list & returns the lowest index
print(name.index("m"))

11

In [89]:
name = "Sherjeel23Ahmed"  # checks all the characters in the given string is alphanumeric or not
print(name.isalnum())
name = "Sherjeel 23Ahmed"
print(name.isalnum())
num = "12345"
print(num.isalnum())

True
False
True

In [82]:
name = "SHERJEELAHMED"   # returns true if all the characters are alphabets otherwise returns false
print(name.isalpha())
num = "12345"
print(num.isalpha())

True
False

In [92]:
name = "Sherjeel Ahmed"  
print(name.isascii())
num = "12345"
print(num.isascii())

True
True

In [105]:
num = "12345"             # returns true if all the characters are decimals otherwise returns false
print(num.isdecimal())
num = "123 45"
print(num.isdecimal())

True
False

In [103]:
name = "Sherjeel Ahmed"    # returns true if all the characters are digits otherwise returns false
print(name.isdigit())
num ="12345"
print(num.isdigit())

False
True

In [109]:
name = "Sherjeel Ahmed"      # checks whether the string is a valid identifier or not
print(name.isidentifier())
num ="12345"
print(num.isidentifier())
name = "SherjeelAhmed"
print(name.isidentifier())
name = "Sherjeel23Ahmed"
print(name.isidentifier())
name = "23SherjeelAhmed"
print(name.isidentifier())

False
False
True
True
False

In [111]:
name = "Sherjeel Ahmed"    # returns true if the string is lowercase otherwise returns false
print(name.islower())
name = "sherjeel ahmed"
print(name.islower())

False
True

In [120]:
name = "Sherjeel Ahmed"     # returns true if the string is uppercase otherwise returns false
print(name.isupper())
name = "SHERJEEL AHMED"
print(name.isupper())

False
True

In [121]:
name = "Sherjeel Ahmed"    # return a copy of the string converted to lowercase
print(name.lower())

sherjeel ahmed

In [122]:
name = "Sherjeel Ahmed"   # return a copy of the string converted to uppercase
print(name.upper())

SHERJEEL AHMED

In [125]:
name = "123"               # returns true if all characters are numeric otherwise returns false 
print(name.isnumeric())

True

In [131]:
name = "Sherjeel Ahmed"     # returns true if all characters are printable or string is empty otherwise returns false
print(name.isprintable())   
name = "Sherjeel \n Ahmed"   # '\n' not printable
print(name.isprintable())

True
False

In [148]:
name = "Sherjeel Ahmed"   # returns true if it contains whitespace characters otherwise returns false
print(name.isspace())     # e.g '\n','\t','\f','\r','\v' (true)
ch = " "
print(ch.isspace())

False
True

In [149]:
name = "Sherjeel Ahmed"   # returns true if titlecased otherwise returns false
print(name.istitle())

True

In [157]:
name = {"Sherjeel","Ahmed"}   # returns a string in which elements of sequence have been joined by str operator.
print("-".join(name))         # concatenated with the elements of iterable

Sherjeel-Ahmed

In [160]:
name = "--Sherjeel Ahmed--"   # deleting all the leading and trailing characters mentioned in arguments
print(name.strip("-"))

Sherjeel Ahmed

In [161]:
name = "--Sherjeel Ahmed--"  # deleting all the leading characters
print(name.lstrip("-"))

Sherjeel Ahmed--

In [162]:
name = "--Sherjeel Ahmed--"   # deleting all the trailing characters
print(name.rstrip("-"))

--Sherjeel Ahmed

In [186]:
fc = "WY"                                        # specify to translate chars
sc ="SA"                                         # specify to replace with 
rc = "-"                                         # delete chars
tar = "Wherjeel-Yhmed"                           # target string 
table = tar.maketrans(fc,sc,rc)                  # using maketrans() to construct translate table 
print("Original text: ",tar)                     # original string
print("Translated text: ",tar.translate(table))  # using translate() to make translations

Original text:  Wherjeel-Yhmed
Translated text:  SherjeelAhmed

In [195]:
name= "Sherjeel Ahmed"  # partition the string into 3 parts using the given separator & return in tuple form
print(name.partition("Ahmed"))

('Sherjeel ', 'Ahmed', '')

In [199]:
name = "Sherjeel Ahmed"  # starts looking for the separator from the right
print(name.rpartition("Sherjeel"))

('', 'Sherjeel', ' Ahmed')

In [203]:
name = "Sher Sher Ahmed"                      
rep = name.replace("Sher","Sherjeel",1)     # Replace 'Sher' by 'Sherjeel' one time instead of two
print("Original Text: ",name)               # original string

# returns a copy of the string where all occurrences of a substring is replaced with another substring

print("Replaced Text:", rep)

Original Text:  Sher Sher Ahmed
Replaced Text: Sherjeel Sher Ahmed

In [219]:
name = "Sherjeel Ahmed"          # returns the highest index of the substring & if not found returns -1
print("Found value at index: ",name.rfind("e"))
name = "Sherjeel Ahmed"
print("Error: ",name.rfind("d",0,5))

Found value at index:  12
Error:  -1

In [223]:
name = "Sherjeel Ahmed"         #  returns the highest index of the substring & if not found returns error not -1
print("Found value at index: ",name.rindex("e"))

Found value at index:  12

In [225]:
name = "Sherjeel-Ahmed"    # returns a lists of strings after breaking the given string by the specified separator 
print(name.split("-"))

['Sherjeel', 'Ahmed']

In [231]:
name = "Sherjeel-Ahm-ed"   # splits a string into a list, starting from the right if max not defined acts as split()
print(name.rsplit("-",maxsplit=1)) # setting the maxsplit parameter to 1, will return a list with 2 elements

['Sherjeel-Ahm', 'ed']

In [232]:
name = "Sherjeel Ahmed"  # Converts first character in each word to uppercase
print(name.title())

Sherjeel Ahmed

In [237]:
name = "Sherjeel\nAhmed"   # returns a list of lines in the string including the line break
print(name.splitlines())

['Sherjeel', 'Ahmed']

In [249]:
name = "Sherjeel Ahmed"    # returns true if the sentence starts with the search string otherwise false 
print(name.startswith("A"))
name = "Sherjeel Ahmed"  
print(name.startswith("A",9,12))

False
True

In [247]:
name = "Sherjeel Ahmed"   # returns true if the sentence ends with the search string otherwise false
print(name.endswith("d"))
name = "Sherjeel Ahmed"  
print(name.endswith("e"))

True
False

In [250]:
name = "Sherjeel Ahmed"   # changes the cases of all characters of the string 
print(name.swapcase())

sHERJEEL aHMED

In [253]:
name = "Sherjeel Ahmed"  # returns a copy of a string with '0' characters padded to the left side of the given string 
print(name.zfill(18))

0000Sherjeel Ahmed

# Random Operators On 20 Operands

In [1]:
4+4-3*5/8

6.125

In [2]:
56/2*8-78+20

166.0

In [3]:
55//3*4-8+63

127

In [4]:
25/5+(4+98-85)*8

141.0

In [5]:
(20+5)/6-9

-4.833333333333333

In [7]:
100*10+20//25

1000

In [8]:
5+5*8-6//2

42

In [10]:
5+6**9-7

10077694

In [11]:
27-9*7/6

16.5

In [12]:
45/7*9*(4+6)

578.5714285714287

In [13]:
(45//9)*5+23-13

35

In [14]:
(18+6)//6+48*(64-35)

1396

In [15]:
36-6+97*20/14

168.57142857142858

In [16]:
20*14//6-(79*19)+23

-1432

In [17]:
(98-8)//30*(4+6)

30

In [18]:
(46+4)//20**(18-4)

0

In [19]:
(20%6)+95-63*4

-155

In [20]:
55-5+15*(45%3)

50

In [21]:
25+61-78**9//(64+20)

-1272249058491397

In [22]:
45-5//4

44